
body{
    background-color: rgb(221, 240, 240);
}
h1 {
    color:rgb(221, 240, 240)
}

.header{
    background-color:rgb(17, 75, 102);
    display:flex;
    justify-content:space-between;
}

.footer{
    display:flex;
    justify-content:flex-end;
}
